#big_picture{
	width: 500px;
	/*height: 300px;*/
	border: 1px solid black;
	float: left;
}

.navigate{
	width: 30px;
	height: 200px;
	font-size: 50px;
	font-weight: bold;
	align-content: center;
}

#left{
	float: left;
}

#right{
	float: left;
}